# Chapter 2

In [1]:
name : str = "Ali"
print(f"Hello {name},  would you like to learn some Python today?")

Hello Ali,  would you like to learn some Python today?

In [4]:
name : str = "Alla ud din"
print(name.upper())
print(name.lower())
print(name.title())

ALLA UD DIN
alla ud din
Alla Ud Din

In [5]:
print('Albert Einstein once said, “A person who never made a mistake never tried anything new.”')

Albert Einstein once said, “A person who never made a mistake never tried anything new.”

In [7]:
famous_person: str = "Albert Einstein"
message: str = "A person who never made a mistake never tried anything new."
print(f'{famous_person} once said, "{message}"')

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [33]:
name : str = "\tAlla Ud Din \t"
print(name.lstrip())
print(name.rstrip())
print(name.strip())
strip = name.strip()
print(strip)  # strip is return function
print(name) # original name remains the same

Alla Ud Din
	Alla Ud Din
Alla Ud Din
Alla Ud Din
	Alla Ud Din

In [1]:
filename : str = "python_notes.txt"
print(filename.removeprefix('python_notes'))
print(filename.removesuffix('.txt'))
check = filename.removesuffix('.txt')
print(check) # return function both removeprefix and removesuffix
print(filename) #original remains the same

.txt
python_notes
python_notes
python_notes.txt

When you divide any two numbers, even if they are integers
that result in a whole number, you’ll always get a float:

In [41]:
operation : int = 4/2
print(operation)
print(type(operation))

2.0
<class 'float'>

If you mix an integer and a float in any other operation,
you’ll get a float as well:

In [36]:
1 + 2.1

3.1

In [42]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

In [44]:
x, y, z = 0, 0, 0

Python programmers use all capital
letters to indicate a variable should be treated as a constant

In [47]:
MAX_CONNECTIONS = 5000
MAX_CONNECTIONS = 2000
print(MAX_CONNECTIONS)

2000

In [48]:
# 2-9
print(5+3)
print(4*2)
print(10-2)
print(16/2)

8
8
8
8.0

In [1]:
# 2-10
favourite_number = 9
print(f"My favourite number is {favourite_number}")

My favourite number is 9

In [3]:
# 2-12
import this

In [4]:
# 3-1
names = ['ali ahmad', 'muazam sultan', 'mukaram khalifan']
print(names[0])
print(names[1])
print(names[2])

ali ahmad
muazam sultan
mukaram khalifan

In [5]:
# 3-2
names = ['ali ahmad', 'muazam sultan', 'mukaram khalifan']
print(f'Happy Birthday!!!! {names[0].title()}')
print(f'Happy Birthday!!!! {names[1].title()}')
print(f'Happy Birthday!!!! {names[2].title()}')

Happy Birthday!!!! Ali Ahmad
Happy Birthday!!!! Muazam Sultan
Happy Birthday!!!! Mukaram Khalifan

In [7]:
# 3-3
vehicles = ['Hatchback', 'Sport Cruiser Motorcycle', 'Audi A7']
print(f'I would like to own {vehicles[2]}')

I would like to own Audi A7

In [9]:
# 3-4
guest_list : list[str] = ['Amber', "Fakhar", 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram']
for guest in guest_list:
    print(f'{guest}, we"d love to have you join us for a delightful dinner at our place!')

Amber, we"d love to have you join us for a delightful dinner at our place!
Fakhar, we"d love to have you join us for a delightful dinner at our place!
Izza, we"d love to have you join us for a delightful dinner at our place!
Ali Ahmad, we"d love to have you join us for a delightful dinner at our place!
Muazam, we"d love to have you join us for a delightful dinner at our place!
Mukaram, we"d love to have you join us for a delightful dinner at our place!

In [10]:
# 3-5
guest_list : list[str] = ['Amber', "Fakhar", 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram']
print(f"{guest_list[1]} cann't make it for dinner")
guest_list[1]= "Hassam"
print(f"{guest_list[1]}, we'd love to have you join us for a delightful dinner at our place!")

Fakhar cann't make it for dinner
Hassam, we'd love to have you join us for a delightful dinner at our place!

In [30]:
# 3-6
guest_list : list[str] = ['Amber', "Fakhar", 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram']
guest_list.insert(0, "Hassam") #non return
guest_list.insert(3, "Iqra") #non return
guest_list.append("Usman") #non return
for guest in guest_list:
    print(f'{guest}, you are still invited.. Thank you')

Hassam, you are still invited.. Thank you
Amber, you are still invited.. Thank you
Fakhar, you are still invited.. Thank you
Iqra, you are still invited.. Thank you
Izza, you are still invited.. Thank you
Ali Ahmad, you are still invited.. Thank you
Muazam, you are still invited.. Thank you
Mukaram, you are still invited.. Thank you
Usman, you are still invited.. Thank you

In [28]:
guest_list : list[str] = ['Amber', "Fakhar", 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram']
insert_check = guest_list.insert(0, "Hassam")
guest_list.insert(3, "Iqra")
append_check = guest_list.append("Usman")
print(insert_check) #non return 
print(append_check) #non return
print(guest_list)  # Change orignal list

None
None
['Hassam', 'Amber', 'Fakhar', 'Iqra', 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram', 'Usman']

In [63]:
# 3-7
guest_list : list[str] = ['Hassam', 'Amber', 'Fakhar', 'Iqra', 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram', 'Usman']
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner")
print(f"{guest_list.pop()}, Sorry but due to some constraint we can't have you for dinner\n")
print(guest_list)
for guest in guest_list:
    print(f'{guest}, Sorry for the confusion, We love to have you for dinner.. Thank you')
del guest_list[-1]
del guest_list[-1]
print(f'Dinner kaaha jari raha, Dineer to war gya, {guest_list}')

Usman, Sorry but due to some constraint we can't have you for dinner
Mukaram, Sorry but due to some constraint we can't have you for dinner
Muazam, Sorry but due to some constraint we can't have you for dinner
Ali Ahmad, Sorry but due to some constraint we can't have you for dinner
Izza, Sorry but due to some constraint we can't have you for dinner
Iqra, Sorry but due to some constraint we can't have you for dinner
Fakhar, Sorry but due to some constraint we can't have you for dinner

['Hassam', 'Amber']
Hassam, Sorry for the confusion, We love to have you for dinner.. Thank you
Amber, Sorry for the confusion, We love to have you for dinner.. Thank you
Dinner kaaha jari raha, Dineer to war gya, []

In [62]:
# 3-8
places : list[str] = ["Makkah", "Madina", "Eiffel Tower", "Niagara Falls", "Taj Mahal"]
print(f"original list:\t {places}\n")
print(f"Sorted Alphabetically:\t {sorted(places)}\n")
print(f"Original list is still intact:\t {places}\n")
print(f"List in reverse-alphabetical order:\t {sorted(places, reverse=True)}\n")
print(f"Original list is still intact:\t {places}\n")
# print(list(reversed(places))) if you don't want to change original
# print(places)
print(f"Revervse places: \t{places.reverse()}\n") # non return method and change original list
print(f"Original list is reversed: \t {places}\n")  
places.reverse()
print(f"Again reverse in original order: \t{places}\n")
print(f"Revervse places: \t{places.sort()}\n") # non return method and change original list
print(f"Original list is sorted: \t {places}\n")
print(f"Revervse sorted places: \t{places.reverse()}\n") # non return method and change original list
print(f"Reversed sorted list: \t {places}\n")

original list:	 ['Makkah', 'Madina', 'Eiffel Tower', 'Niagara Falls', 'Taj Mahal']

Sorted Alphabetically:	 ['Eiffel Tower', 'Madina', 'Makkah', 'Niagara Falls', 'Taj Mahal']

Original list is still intact:	 ['Makkah', 'Madina', 'Eiffel Tower', 'Niagara Falls', 'Taj Mahal']

List in reverse-alphabetical order:	 ['Taj Mahal', 'Niagara Falls', 'Makkah', 'Madina', 'Eiffel Tower']

Original list is still intact:	 ['Makkah', 'Madina', 'Eiffel Tower', 'Niagara Falls', 'Taj Mahal']

Revervse places: 	None

Original list is reversed: 	 ['Taj Mahal', 'Niagara Falls', 'Eiffel Tower', 'Madina', 'Makkah']

Again reverse in original order: 	['Makkah', 'Madina', 'Eiffel Tower', 'Niagara Falls', 'Taj Mahal']

Revervse places: 	None

Original list is sorted: 	 ['Eiffel Tower', 'Madina', 'Makkah', 'Niagara Falls', 'Taj Mahal']

Revervse sorted places: 	None

Reversed sorted list: 	 ['Taj Mahal', 'Niagara Falls', 'Makkah', 'Madina', 'Eiffel Tower']

In [64]:
# 3-9
guest_list : list[str] = ['Amber', "Fakhar", 'Izza', 'Ali Ahmad', 'Muazam', 'Mukaram']
len(guest_list)

6

In [68]:
[i for i in dir(list) if "__" not in i ]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [110]:
# 3-10
places : list[str] = ["Makkah", "Madina", "Eiffel Tower", "Niagara Falls", "Taj Mahal"]
places.append("Great wall of China") # return nothing, change original
places.clear() # return nothing, change original
places.count("a") # return how many times that item occurs don't change original
places : list[str] = ["Makkah", "Madina", "Eiffel Tower", "Niagara Falls", "Taj Mahal"]
places.extend(['Great Wall of China']) # return nothing, change original
places.index("Makkah") # return index of that value
places.insert(2, "Karbala") # return nothing, change original
places.pop() # pop and return last value, change original
places.remove("Karbala") # return nothing, change original
places.reverse() # return nothing, change original
places.sort() # return nothing, change original
places

['Eiffel Tower', 'Madina', 'Makkah', 'Niagara Falls', 'Taj Mahal']

In [112]:
# 3-11
places : list[str] = ["Makkah", "Madina", "Eiffel Tower", "Niagara Falls", "Taj Mahal"]
# places[9]
places[-1]

'Taj Mahal'

# Chapter 4

In [115]:
# 4-1
pizzas : list[str] = ["pizza1", "pizza2", "pizza3"]
for pizza in pizzas:
    print(f"{pizza} is very delicious")
print("I really love pizza")

pizza1 is very delicious
pizza2 is very delicious
pizza3 is very delicious
I really love pizza

In [116]:
# 4-2
animals : list[str] = ["Dog", "Cat", "Horse"]
for animal in animals:
    print(f"{animal} would be a great pet")
print("Any of these animals would make a great pet!")

Dog would be a great pet
Cat would be a great pet
Horse would be a great pet
Any of these animals would make a great pet!

In [117]:
# 4-3
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [120]:
# 4-4 and 4-5
million : list[int] = range(1,1000001)
print(min(million))
print(max(million))
sum(million)

1
1000000

500000500000

In [125]:
# 4-6
[i for i in range(1,21,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [126]:
# 4-7
[3*i for i in range(1,11)]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [127]:
# 4-8 and 4-9
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [131]:
# 4-10
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(f'First 3 item in list: {players[:3]}')
print(f'Three item from middle: {players[1:4]}')
print(f"Last three items: {players[-1:-4:-1]}")

First 3 item in list: ['charles', 'martina', 'michael']
Three item from middle: ['martina', 'michael', 'florence']
Last three items: ['eli', 'florence', 'michael']

In [142]:
# 4-11
pizzas : list[str] = ["pizza1", "pizza2", "pizza3"]
friend_pizzas : list[str] = pizzas[:]
pizzas.append("pizza4")
friend_pizzas.append("pizza5")
print (f"My favourite pizzas are: ")
[print(pizza) for pizza in pizzas]

print (f"My friends favourite pizzas are: ")
for f_pizzas in friend_pizzas:
 print(f_pizzas)

My favourite pizzas are:
pizza1
pizza2
pizza3
pizza4
My friends favourite pizzas are:
pizza1
pizza2
pizza3
pizza5

In [151]:
# 4-13
food : tuple[str] = ("Pizza", "Burger", "Biryani", "Chicken Korma", "Coffee")
for i in food:
    print(i) 
# food[1] = "White Chicken"
food : tuple[str] = ("Pizza", "Shanwari tikka", "Biryani", "Chicken Korma", "Coffee")
print("\n")
for i in food:
    print(i)

Pizza
Burger
Biryani
Chicken Korma
Coffee


Pizza
Shanwari tikka
Biryani
Chicken Korma
Coffee

# Chapter 5

In [ ]:
# 5-3
alien_color : str = "green"
if alien_color == "green"