<a href="https://colab.research.google.com/github/Alla-ud-din/Python/blob/main/python_lectures/course1_basics/Lesson_6/Lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 6: Data in Python

There are different types of data in Python. Here, you will see how text and numbers are used in Python.

## Strings

Strings are used to store and manipulate text. As you see here, strings are written inside of quotes and can contain letters, numbers, punctuation marks, and other special characters. Run the following cells to print these four different strings.

In [1]:
print("Hello, World")

Hello, World

In [2]:
print("My favorite drink is Earl Grey tea.")

My favorite drink is Earl Grey tea.

In [3]:
print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

In [4]:
print("2.99")

2.99

## Multiline strings

If you use triple quotation marks, you can store a multiline string. These strings can span more than one line. When you run the following cell, you will see how the spaces in the second line are actually read as characters for the string.

In [5]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

Trying to define a multiline string using single quotes will lead to errors.

In [6]:
print("Hello, World!
      It's great to be here!")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-6-8ea15586b006>, line 1)

Another Way to write multiline is using " \ "

In [7]:
print("Hello, World! \
      It's great to be here!")

Hello, World!       It's great to be here!

\n for Enter

In [8]:
print("Hello, World! \nIt's great to be here!")

Hello, World!
It's great to be here!

\t to for tab

In [9]:
print("Hello, World! \tIt's great to be here!")

Hello, World! 	It's great to be here!

## The type() function

In Python, you can check the type of any data that you are using. To check the data type, you can use the `type()` function. When you run the next cell, you will retrieve the type for the string `"Andrew"`.

In [10]:
type("Andrew")

str

Python returned `str`, which is short for string. Let's check the type for a multiline string:

In [11]:
type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

This also returns `str`, since it is also a string. Let's try a number within quotation marks:

In [12]:
type("2.99")

str

This is also a string, even though it looks like a number. By using quotation marks you're telling Python to treat it as text, rather than a number. What about a number without quotes?

In [13]:
type(100)

int

This time you get `int`, which is short for integer. Integers are the positive and negative whole numbers, like 42, 100, -9, and 0. Since there are no quotes around the number Python assumes this is numerical data, and since there is no decimal place on this number, it interprets it as an integer. Now, let's try a number that does have decimal places:

In [14]:
type(2.99)

float

The function type gives `float`, which is the data type used to store floating point numbers. Floating point numbers are positive and negative numbers that include a decimal place, like 3.14, 2.99, and -0.003.

## Python as a calculator!

Python works great for quick arithmetic operations. For instance, if you had a lemonade stand, and wanted to compute the total number of sales you made through the last 12 months, you can use Python like this:

In [15]:
print(28+35+43+50+65+70+68+66+75+80+95)

675

In [16]:
# prompt: print(28+35+43+50+65+70+68+66+75+80+95) show each step in comment

# 28 + 35 = 63
# 63 + 43 = 106
# 106 + 50 = 156
# 156 + 65 = 221
# 221 + 70 = 291
# 291 + 68 = 359
# 359 + 66 = 425
# 425 + 75 = 500
# 500 + 80 = 580
# 580 + 95 = 675
print(28+35+43+50+65+70+68+66+75+80+95)

675

In [17]:
# prompt: print(28+35+43+50+65+70+68+66+75+80+95) show each step using loop

numbers = [28, 35, 43, 50, 65, 70, 68, 66, 75, 80, 95]
total = 0
for number in numbers:
  total += number
  print(f"Current total: {total}")

print(f"The final total is: {total}")

Current total: 28
Current total: 63
Current total: 106
Current total: 156
Current total: 221
Current total: 291
Current total: 359
Current total: 425
Current total: 500
Current total: 580
Current total: 675
The final total is: 675

As another example, you can perform more advanced math, like computing the compound interest after 10 years at a rate of 5%. To do that, you can compute 1.05 to the power of 10. Not sure how to do it in Python? You can use the Chatbot!

<p style="background-color:#F5C780; padding:15px"> 🤖 <b>Use the Chatbot</b>: How do I compute 1.05 to the power of 10?
</p>

In [18]:
# prompt: How do I compute 1.05 to the power of 10?

result = 1.05 ** 10
result

1.628894626777442

In [19]:
# prompt: compute the compound interest after 10 years at a rate of 5%. Also explain it in detail and easy words

principal = 1000  # Initial amount of money
rate = 0.05  # Interest rate (5%)
time = 10  # Number of years

# Calculate the compound interest
amount = principal * (1 + rate) ** time

# Calculate the interest earned
interest_earned = amount - principal

print("Compound Interest after 10 years:", interest_earned)
print("Total amount after 10 years:", amount)

Compound Interest after 10 years: 628.894626777442
Total amount after 10 years: 1628.894626777442

In [20]:
# prompt: why "How do I compute 1.05 to the power of 10?" and "compute the compound interest after 10 years at a rate of 5%." is not giving same answer?

The difference in results arises because the two methods are calculating slightly different things, even though they both seem related to compound interest.

**Method 1: 1.05 to the power of 10**

   This calculation directly computes the growth factor of an investment with a 5% annual interest rate over 10 years.  It tells you how much your initial investment would be multiplied by after 10 years of compounding.

**Method 2: Calculating Compound Interest**

   This calculation calculates the total interest earned on a principal amount over a period of time at a given interest rate. It incorporates the initial investment and calculates the final amount, from which you can deduce the interest earned.


**In Essence**

- The first method (1.05**10) only calculates the multiplier for your principal.
- The second method (calculating the total amount) takes the principal into account, determines how it grows with compound interest, and then determines the total interest earned.



**Illustrative Example:**

Let's say you have $1000 in your investment.


- **Method 1 (1.05**10):**  It would tell you how much the $1000 would be worth after 10 years, without mentioning the total interest earned.
- **Method 2:** It would calculate the actual total amount after 10 years, *considering the principal*, and then you can subtract the principal to calculate the actual interest earned.

**The difference is subtle but key:** The first method is a factor for growth; the second one is the complete calculation of the interest earned on a specific principal amount.

SyntaxError: unterminated string literal (detected at line 23) (<ipython-input-20-83b71f89e80a>, line 23)

In [22]:
print("Complete with chatbot code")

Complete with chatbot code

### Order of operations

The order of operations in Python is the same as in arithmetic. First, you compute parentheses, then exponents, then you multiply and divide (from left to right), and finally, you add and subtract (from left to right).

We follow PEMDAS in coding

So, if you are trying to convert from Fahrenheit to Celsius, the following cell will give you an incorrect answer:

![operations](https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png)

In [23]:
print(75 - 32 * 5 / 9)

57.22222222222222

Whereas the computation in this cell is correct.

In [24]:
print((75 - 32) * 5 / 9)

23.88888888888889

### Try for yourself!
Try printing text with mixed numbers and letters, or just symbols, then check the type. Try multiline strings using the triple quotes. If you make any mistakes, as the chatbot for help.

In [25]:
print()

In [26]:
type()

TypeError: type() takes 1 or 3 arguments

Fix the errors in the following code cells.

In [27]:
# Fix the error in the following code
print(There are 366 days in a leap year")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-27-723ad8b306ac>, line 2)

In [28]:
# Fix the error in the following code
print("There are 366
days in a leap year")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-28-181bc9793f5f>, line 2)

A foot was defined as exactly 0.3048 meters in 1959. Convert 6 feet to meters.

In [29]:
# Write code to convert 6 feet to meters
print("Convert 6 feet to meters")

Convert 6 feet to meters