<a href="https://colab.research.google.com/github/Alla-ud-din/Python/blob/main/python_lectures/course2_automating_tasks/Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1 - Completing a task list with AI

### Download helper_function.py
* pls set Secrets Variable for Gemini in Collab
* `GEMINI_API_KEY`

[Get API KEY From Google AI Studio](https://aistudio.google.com/app/apikey)

In [1]:
### Download helper_function.py
# * Set Secrets Variable for Gemini
# * `GEMINI_API_KEY`

!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0   9458      0 --:--:-- --:--:-- --:--:--  9480

In this course, you'll learn how to automate tasks using Python. This means you'll be able to have Python **do repetitive things** and **make decisions** for you. One important skill you'll develop is the ability to store multiple pieces of data together. This lesson will introduce you to **lists**, a powerful tool for this purpose.

To get started, let's load some functions that you'll use in this lesson.

In [2]:
from helper_functions import print_llm_response, get_llm_response

### What are lists?
In the last course, you learned about variables. Each variable holds a single piece of data.

For example:

In [4]:
name = "Tommy"

Let's say I want to write a poem for all my friends... all three of them. Run the cell below, then change the name above to Isabel and rerun the cell.

In [5]:
prompt = f"""
Write a four line birthday poem for my friend {name}.
The poem should be inspired by the first letter of my friend's name.
"""
print_llm_response(prompt)

Tommy, a treasure, kind and true,
Today we celebrate, all for you.
May joy and laughter fill your day,
Happy birthday, friend, hooray!

Changing the value held by a variable requires lots of updates to the variables. A better way to handle this is by using a list.

Lists are a data type in Python that can hold multiple pieces of data. This reduces the need for repetitive variable assignments since you can include all the pieces of data together.

## Creating  a list

Below, you will create a list that holds the names `"Tommy"`, `"Isabel"` and `"Daniel"`.

In [24]:
friends_list : list = ["Tommy", "Isabel", "Daniel"]

In [8]:
print(friends_list)
print(len(friends_list))

['Tommy', 'Isabel', 'Daniel']
3

`friends_list` is a single variable of type `list` that holds multiple values.

In [10]:
type(friends_list)

list

You can check how many values are stored in the list by using `len()`:

In [9]:
len(friends_list)

3

So this list has three elements.

You can use lists as you used variables before within LLM prompts. Below, you are including the `friends_list` in the prompt to write four-line birthday poems for `'Tommy'`, `'Isabel'` and `'Daniel'`.

In [11]:
prompt = f"""
Write a set of four line birthday poems for my friends {friends_list}.
The poems should be insipred by the first letter of each friend's name.
"""
print(prompt)

Write a set of four line birthday poems for my friends ['Tommy', 'Isabel', 'Daniel'].
The poems should be insipred by the first letter of each friend's name.

Now, you can use that prompt with the LLM:

In [12]:
print_llm_response(prompt)

## Birthday Poems for Tommy, Isabel, and Daniel:

**For Tommy:**

The world is your oyster, so open wide,
Today's your day to celebrate with pride.
May laughter and joy be your constant guide,
Happy birthday, Tommy, let's have a good ride!

**For Isabel:**

Imagination soars high above the ground,
Believe in yourself, let your dreams abound.
Sweet Isabel, you're a treasure profound,
Happy birthday, may your happiness resound!

**For Daniel:**

Determination shines in your bright eyes,
A heart of gold, you truly rise.
Never give up, reach for the skies,
Happy birthday, Daniel, let your spirit fly!

## Accessing individual elements of a list

You can access individual elements from a list. Let's ask the chatbot how to do that.

<p style="background-color:#F5C780; padding:15px"> 🤖 <b>Use the Chatbot</b>: How do I access a specific element of this list:
friends_list = ["Tommy", "Isabel", "Daniel"]
</p>

For instance, to access the first element, you would use the following code:

In [13]:
first_friend = friends_list[0]
print(first_friend)  # Output: Tommy

Tommy

To access the second element, you would use the following code:

In [14]:
print(friends_list[1]) # Output: Isabel

Isabel

Note that for accessing the first element you used the index 0, and for accessing the second element you used 1.

So, if you do the following, you'll get an error.

In [15]:
print(friends_list[3]) # Gives an error

IndexError: list index out of range

But, if you run the following code, you will be able to access the last element from that list.

In [16]:
print(friends_list[2])

Daniel

## Adding another element to the list

In [17]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

If you want to add some data to an list, you will use `list.append(new_data)`. So, to add `"Otto"` to your `friends_list`, you can run the following code:

In [18]:
# add single element to list
friends_list.append("Otto")

In [19]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto']

In [28]:
friends_list.append(5)

In [29]:
friends_list

['Tommy', 'Isabel', 'Daniel', 5]

In [31]:
print(type(friends_list[0]))
print(type(friends_list[1]))
print(type(friends_list[2]))
print(type(friends_list[3]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

Try for yourself - modify code to add another friend, or yourself

In [ ]:
# Modify the code below to add another friend:
friends_list.append()

## Deleting elements

Tommy moved to Bora Bora, so we can't be friends anymore. Let's remove Tommy from `friends_list` by using `.remove()`:

In [22]:
#using remove
friends_list.remove("Daniel")

In [25]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

## Lists with other data types

Lists can hold any type of data. For instance, here is a list of numbers

In [26]:
list_ages = [42, 28, 30]

In [27]:
print(list_ages)

[42, 28, 30]

Lists can also hold long strings. Here's a list of tasks that might make up a todo list

In [32]:
#list of tasks in priority order. Multi-line lists are allowed in python!
list_of_tasks = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'."
]

If you were wondering how to use lists with AI, take this example. Each element in the previous list is a string that you can pass to `print_llm_response()`. If you want an LLM to do each of these tasks for you, here's what you would do:

Set a variable called `task` to each element in the list in turn, then pass it to `print_llm_response()`.

In [33]:
task = list_of_tasks[0]
print_llm_response(task)

Subject: Late Arrival to [Meeting Name] Tomorrow

Hi [Boss's Name],

Please be aware that I will be running slightly late for tomorrow's meeting on [topic] at [time]. I apologize for any inconvenience this may cause.

I will be there as soon as possible.

Best,

[Your Name]

In [34]:
task = list_of_tasks[1]
print_llm_response(task)

To Otto, a friend so kind and true,
Twenty-eight years, we celebrate you.
A life well-lived, with laughter bright,
You fill our days with joy and light.

Through adventures grand and moments small,
You stand beside us, through it all.
With wit and wisdom, a heart of gold,
Your story's unfolding, we're told.

So raise a glass, let's make a toast,
To Otto, whom we love the most.
May this birthday bring you happiness,
And many more years, filled with success.

In [35]:
task = list_of_tasks[2]
print_llm_response(task)

##  The Arrival: A Silent Symphony of Time and Connection

"The Arrival" is a profoundly moving and intellectually stimulating film that transcends the usual tropes of alien invasion narratives. It eschews loud explosions and flashy action in favor of quiet contemplation and a profound exploration of communication, time, and the human condition.

The film follows Louise Banks, a brilliant linguist tasked with deciphering the language of alien visitors who have mysteriously appeared on Earth. As she delves deeper into their complex, non-linear communication, she grapples with her own mortality, the loss of her daughter, and the existential implications of their arrival.

The film's strength lies in its visual storytelling and Amy Adams' masterful performance. Banks' struggle to understand the alien language is beautifully conveyed through a series of mesmerizing visuals, creating a tangible sense of the alien perspective and their unique perception of time. Adams brings a quiet strength and vulnerability to the role, making Louise's emotional journey deeply relatable.

The film's pacing is deliberate, allowing the weight of each scene to resonate and leaving ample space for reflection. While some may find the lack of action frustrating, it serves to amplify the emotional and intellectual impact of the story. "The Arrival" is not a film that provides easy answers, but rather a poignant and thought-provoking exploration of human nature, loss, and the boundless possibilities of connection.

Ultimately, "The Arrival" is a cinematic experience that lingers in the mind long after the credits roll, prompting deep contemplation and an appreciation for the fragility and interconnectedness of life.

You worked through all the elements in the list, but there is still a lot of repetition here. You had to specify each element separately. There is actually a much better way to do this using something called a for loop. Let's go to the next video to see it in action.

## Extra practice

Please go through the exercises in the cells below if you want some extra practice for the topics you covered in this lesson.

In [ ]:
# Create a list with the titles
# of five of your favorite movies

### WRITE CODE HERE ###
movie_list =
### --------------- ###

In [36]:
# Display the fourth element of
# the following list using print()

prime_numbers = [2, 3, 5, 7, 11]

### WRITE CODE HERE ###

### --------------- ###

In [37]:
# Display the fourth element of
# the following list using print()

prime_numbers = [2, 3, 5, 7, 11]

### WRITE CODE HERE ###

print(prime_numbers[3]) #access and print() the fourth element
### --------------- ###

7

In [ ]:
# Fix the bug in the following code

prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers(3)) #access and print() the fourth element
### --------------- ###

In [38]:
# Fix the bug in the following code

prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers[3]) #access and print() the fourth element
### --------------- ###

7

In [ ]:
# Add one name to friends_list using append

friends_list = ["Tommy", "Isabel", "Daniel", "Otto"]

### WRITE CODE HERE ###

### --------------- ###

print(friends_list)

In [40]:
# Add one name to friends_list using append

friends_list = ["Tommy", "Isabel", "Daniel", "Otto"]

### WRITE CODE HERE ###

friends_list.append("Ali")

print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'Ali']

In [ ]:
# In the following code, remove the country
# that is not in South America

countries_in_south_america = ["Colombia", "Peru",
                              "Brasil", "Japan",
                              "Argentina"]

### WRITE CODE HERE ###

### --------------- ###

print(countries_in_south_america)

In [41]:
# In the following code, remove the country
# that is not in South America

countries_in_south_america = ["Colombia", "Peru",
                              "Brasil", "Japan",
                              "Argentina"]

### WRITE CODE HERE ###

countries_in_south_america.remove("Japan")

print(countries_in_south_america)

['Colombia', 'Peru', 'Brasil', 'Argentina']