In [ ]:
names : list[str] = ['Sir Zia',"Muhammad Qasim","DR Noman"]
print(names)

['Sir Zia', 'Muhammad Qasim', 'DR Noman']

In [1]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)
# Sir zia
# "Muhammad Qasim"
# DR Noman

Sir Zia
Muhammad Qasim
DR Noman

```
names : names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for(i=0; i<names.length; i++){
    names[i]
}
```

In [3]:
names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
i:int = 0 # counter = 0
while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
DR Noman

In [4]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)

Sir Zia
Muhammad Qasim
DR Noman

In [5]:
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman

In [6]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [7]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [8]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names[-2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad")

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [10]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [11]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [2]:
input_user : str = input("Enter user name")
print(input_user)

Allauddin

In [3]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")
for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

Valid User qasim

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")
for row in data_base:
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Not found or Invalid user name

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")
# user , password = ("qasim",'123')
# user = name[0]
# password = name[1]
for row in data_base:
    user, password = row  # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

In [4]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)
else:
    print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [5]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]
for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [6]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [7]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

Sir Zia
Hello world

In [8]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

IndentationError: expected an indented block after 'for' statement on line 3 (2614519669.py, line 4)

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name)

SyntaxError: expected ':' (1472454235.py, line 3)

In [10]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [11]:
message = "Hello Python world!" 
    print(message)

IndentationError: unexpected indent (483696993.py, line 2)

In [12]:
message = "Hello Python world!" 
 print(message)

IndentationError: unexpected indent (1223476688.py, line 2)

In [13]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you everyone, that was a great magic show!")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [14]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [15]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']
for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop
* range(start,end,step)

In [16]:
range(10)

range(0, 10)

In [17]:
list(range(10))# starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2,10))# starting=2, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(2,21,2))# starting=2, ending = n-1 21-1=20, step = 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [21]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [22]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
* for item in items_list:
    * loop_body
* Comprehensive Style
    * [loop_body for item in items_list]

In [ ]:
list(range(1,11))

In [ ]:
for i in range(1,11):
    print(i**2)

In [23]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [24]:
print('line1')
print('line2')
print('line3') # print all lines

line1
line2
line3

In [25]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [27]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy
print(my_foods)
print(friend_foods)
friend_foods[0] = "Tikka"
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [28]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [29]:
names:tuple[str] = ('A',"B",'C')
names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [ ]:
names:tuple[str] = ('A',"B",'C')
names:tuple[str] = ('Pakistan',"B",'C')
print(names)

In [30]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [31]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [32]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
a

In [34]:
sorted([7,8,1,3])

[1, 3, 7, 8]